<nav class="navbar navbar-expand-lg bg-body-tertiary bg-opacity-25">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">MaCarteDeVisite.fr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

        {% if app.user %}
            <a class="btn btn-success me-1" href="{{ path('app_card_new') }}">Créer ma carte</a>
            <a class="btn btn-warning" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="btn btn-warning" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
  </div>
</nav>